.poll-creator-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 60px;
    padding-top: 80px;
    border-radius: 7px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.pool-creator-main-form-container{
    margin-top: 40px;
    border-radius: 7px;
    border-top: 4px solid gold;
    width: 500px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

.pool-creator-main-form{
    margin: 15px;
    margin-top: 30px;
}

.pool-creator-main-form hr{
    height: 1px;
    border: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    background: #C8C8C8;
    font-weight: 100;
}

.pool-creator-main-form label{
    margin-bottom: 8px;
}

.pool-creator-main-form input{
    height: 40px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #DCDCDC;
    border-radius: 7px;
    padding: 12px;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.04);
    margin-bottom: 12px;
}

.question-creation-container,
.answers-creation-container{
    display: flex;
    flex-direction: column;
    user-select: none;
}

.question-creation-container input{
    margin-bottom: 40px;
}

.append-btn{
    border: 1px solid #DCDCDC;
    background: white;
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 7px;
    margin-bottom: 30px;
    transition: all 0.5s ease;
}

.answers-creation-container button:hover{
    background:#F0F0F0;
}

.answers-item-container{
    display: flex;
    flex-direction: row;
}

.answers-item-container button{
    border: none;
    width: 40px;
    height: 40px;
    justify-content: center;
    background: transparent;
    margin-left: 6px;
    cursor: pointer;
}

.answers-item-container button:hover{
    background: transparent;
}

.submit-create-btn{
    background: #3457D5;
    border: none;
    border-radius: 7px;
    color: white;
    width: 35%;
    height: 40px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.error-container{
    border: none;
    border-radius: 7px;
    margin-top: 35px;
    background: #ffdede;
    padding: 12px;
}

.error-txt{
    font-size: 15px;
    font-weight: 200;
    color: #841617;
    opacity: 1;
}

.submit-create-btn:hover{
    background: #0039a6;
}

@media screen and (max-width: 500px){
    .append-btn {
      width: 100%;
    }

    .submit-create-btn{
        width: 100%;
    }

    .pool-creator-main-form-container{
        width: 100%;
        background: white;
    }
  }
